.displayCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  padding: 36px 0;
  height: 100%;
}

.question{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.questionPart{
  margin: 10px;
  background-color: aliceblue;
  padding: 12px 24px;
  border-radius: 20px;
  box-shadow: 2.5px 2.5px 5px 0px #dadada;
  min-width: 200px;
}

.response{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hide-print{
  display: block;
}

.marks-layout1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.marks-box1{
    padding: 28px 16px;
    font-size: 24px;
    background-color: #cfeff5;
    border-radius: 12px ;
    box-shadow: 2px 2px 4px #0000000f;
    height: 100%;
}

.marks-box2{
  padding: 8px 16px;
  background-color: #cfeff5;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #0000000f;
  margin: 12px;
}

@media print {
  
  /* Hide other elements not part of the printable table */
  .hide-print {
    display: none;
  }
}